.select {
    font-size: 50px;
    display: block;
    border: 2px solid aqua;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    color: black;
    text-align: center;
    border-radius: 50px;
}



.select:hover {
    background-color: yellow;
}